---
import Layout from "../layouts/Layout.astro";
import AddCategory from "../components/AddCategory";
import AddProduct from "../components/AddProduct";
import ButtonBar from "../components/ButtonBar";
---

<Layout title="Lista">
    <span class="flex flex-row justify-center">
        <AddCategory client:load />
    </span>
    <!-- <main class="pb-20 py-24 w-full mx-auto lg:w-[740px]"> -->
    <!-- <span class="flex flex-row justify-center">
        <ButtonBar client:load />
    </span> -->
    <span class="flex flex-row justify-center">
        <!-- <AddProduct client:load /> -->
    </span>
    <!-- </main> -->
</Layout>
