---
import "./style.css";
---

<header
    class="px-4 mx-auto max-w-xl md:px-6 pt-12 lg:px-6 transition-container-header"
>
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Creador de listas
        </h2>
        <p class="font-light text-columbiaBlue text-xl dark:text-black-800">
            Crea una lista y compártela
        </p>
    </div>
</header>
